# Unity
Library
Logs/IncrementalCompiler
Temp
obj

# Rewired
Assets/Rewired
Assets/Rewired.meta
RewiredBackup

# C-Sharp
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj

# File types
*.sln
*.userprefs
*.csproj
*.blend1
